@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700&family=Space+Mono:wght@400;700&display=swap");

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: "IBM Plex Mono", monospace;
    background: #101018;
    color: #b8c4cc;
}

.ascii-art {
    line-height: 1;
    letter-spacing: -0.02em;
    font-size: 100%;
    white-space: pre;
}

.terminal-block {
    z-index: 10000;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin: 1em;
    margin-left: 6.9em;
    display: grid;
    gap: 2em;
}

.blink {
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#mensagem-terminal {
    border-right: 0.15em solid #1e3a4d; /* o Cursor */
    margin: 0 auto; /*  */
    letter-spacing: 0.15em;
    white-space: pre;
}

/* A animação de typewritter */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* O Efeito no curso de typewritter */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #1e3a4d;
    }
}

.link {
    color:  #b8c4cc;
    transition: font-size 0.5s, color 0.5s;
}

.link:hover {
    font-size: 120%;
    color: #3a4248;
}

.link:active {
    color: #5a6872;
}